#login{
  width: 75%;
  margin: 200px auto 300px auto;
  max-width: 700px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.login__firstimg{
  max-width: 100%;
}

.login__column{
  width: 49%;
  font-size: 14px;
}

.login__column  .login__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: white;
  border: 1px solid #efefef;
  margin-bottom: 13px;
  box-sizing: border-box;
}

.login__box .login__secondimg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
  margin-bottom: 7px;
}

.login__box .login__form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width:80%;
}

.login__form input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 7px 7px 7px;
  border-radius: 3px;
  border: 1px solid #efefef;
  font-size: 14px;
}

.login__form input:first-child{
  margin-bottom: 8px;
}

.login__form input:nth-child(2){
  margin-bottom: 12px;
}

.login__form input[type="submit"]{
  border: none;
  color: white;
  background: #3897f0;
  margin-bottom: 16px;
  cursor: pointer;
  padding: 7px;
  font-weight: 500;
}

.login__column a{
  text-decoration: none;
  color: #003569
}

.login__box a{
  margin-bottom: 10px;
}

.login__column .login__box:nth-child(2){
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 26px;
  max-width: 100%;

}

.login__box .login__noAccount {
  margin-right: 5px;
}

.login__column .login__t-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__t-box .login__appStores{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.login__t-box span{
  margin-top: 20px;
}

.login__appStore{
  height: 38px;
}

.login__appStores a{
  margin: 15px 5px;
}
